@import url('./common.css');
*{
    font-family: 'Nanum Gothic Coding', monospace;
    
}
/* @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap'); */

    /* renewal.html 메인페이지 */
    /* header */


    
header{
    width: 100%;
    padding:0 10%;
    justify-content: space-between;
    align-items: center;
    display:flex;
    position:fixed;
    left:0%; top:0;
    background-color:rgba(255,255,255,0.9);
    z-index: 990;
   
}
header {background-color: #ffffff;}
.new-1 img{
    height: 40px;
    padding: 0px;
}
.new-2 ul{
    display: flex;
   
}
.new-2 li{
    list-style: none;
    color: #b2b2b2;
    text-align: center;
    font-weight: bold;
    border-bottom: none;
    padding: 0 7vh;
    position: relative;
   
    


} 

.new-2 ul li > a{
    color: rgb(36, 36, 36); 
    padding:50px 0; 
    letter-spacing: 2px;
    display:block;
    text-decoration: none;
    position: relative;
    
    

    
}

.new-2 ul li > div{
    position:absolute; left:0; bottom:0;
    width:100%; 
    line-height:2;
    /* display:none; */
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    background:rgba(255,255,255,0.8);
    padding:10px; 
    z-index: 1;
    transition:all .5s;
    opacity: 0;
    transform: translateY(100%);
    height:0;
    display:none;
    overflow:hidden;
}
.new-2 ul li > div a{display:block; font-weight: normal;}
.new-2 ul li > div a:hover{
    text-decoration: 20px underline;
    text-decoration-color: #352c2436;
    text-decoration-line:line-through ;
 }
.new-2 ul li:hover > div{
    display:block;
    animation: aa .5s .1s forwards;
}
@keyframes aa {
    100%{
        opacity: 1; height:100%; 
    }
}

.new-3 {
    position: relative;
    font-size: 15px;
    word-spacing: 20px;
    }
.new-3 form > a{
    color:rgb(168, 167, 167);
    font-family: 'Noto Sans KR', sans-serif;
} 
.new-3 form > button{
    border: 2px solid #646161;
    border-radius: 7px;
}
.new-3 form > button input{
    /* font-size: 5px; */
}
.new-3 form > button i{
    /* display: block; */
    display: flex;
    position: absolute;
    top: 23%;
    right: 1%;
    width: 9%;
    height: 17px;
    cursor: pointer;

}






    /* mainpage */
main{
    box-sizing: border-box;
   /* display: flex; */
   /* margin: 0 auto; */
   width: 100%; margin-top:120px;
   overflow:hidden;
   
}
.mainpage_1{
    font-family: 'Nanum Gothic Coding', monospace;
    overflow: hidden; width: 100%; height: ZZ0vh; 
    /* background: rgb(228, 228, 228); */
    background: white;
    position:relative;
}
.mainpage_1 .box{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:wrap;
    background-image:url("photo/diormain.webp");}
   

.slide ul{
    width: 100%;
    display:flex;
    transition: 0.5s;
}

.slide ul > li {
    align-items: center;
    width:100%; height:40vw;
    /* border-radius: 5px; */
    flex-shrink: 0;
    overflow:hidden;
    /* margin-right: 20px; */
    
    /* padding-right:0px ; 
    margin: 0 20% ; 
     padding-right:50px ; 
     flex-grow: 1; 
     transition:.5s;  */


}
.slide ul > li:nth-child(1) > a {
    /* position: relative;
    width: 100%;
    bottom: 87%;
    color: white;
    font-size: 50px;
    text-align: right;
    left: 68%;
    line-height: 60px; */
    position: absolute;
    width: 100%;
    bottom: 40%;
    color: rgb(231, 231, 231);
    font-size: 70px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight:bolder;
    text-align: center;
    line-height: 100px;
    left: 0%;
    animation: bb 5s .1s none;

}
@keyframes bb{
    0%{margin-left:0; 
    }
    10%{margin-left:70%;
   }
}

/* @media (min-width: 768px) and (max-width: 1095px) slide ul > li:nth-child(1) > a{transition: ;}
.slide ul > li:nth-child(2) > a{ 
    position: relative;
    width: 100%;
    bottom: 80vh;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight:bolder;
    text-align: right;
    line-height: 100px;
    left: 48%; */
/* } */
.slide ul > li:nth-child(2) > a{ 
    position: relative;
    width: 100%;
    bottom: 80vh;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight:bolder;
    text-align: right;
    line-height: 100px;
    left: 48%;
}


.slide ul > li img{
    width: 100%;
    /* padding: 0 8%; */
    opacity: 95%;
}

.mainpage-1 .slide ul li:hover{
    flex-grow:10;
}

.mainpage_1 .s_btn{
    position:absolute;
    left:0; bottom:0;
    text-align:right;
    width:97%;
    /* padding: -30px; */
    /* padding-bottom: 20px;
    padding-left: -190px; */
}

.mainpage_1 button{
    background:none;
    border:0;
    text-align: center;
    cursor:pointer;
    color: rgb(255, 255, 255);
    font-size: 65px;
}
.mainpage_1 button:hover{
    background-color:white;
    color:rgb(0, 0, 0);
}

.mainpage-2{
    display: flex;
    padding: 150px 0px;
    justify-content: space-between;
    width: 80%;    
    margin:0 auto;
    animation: aaa 4s .1s none;
    
}
@keyframes aaa{
    0%{margin-top:0; opacity: 0;}
}

.mainpage-2 article{
    position: relative;
    width:30%;
}

.mainpage-2 h3{
    border-bottom:1px solid #ddd;
    padding-bottom: 10px;
    font-size: 24px;
    justify-content: space-between;
        
}

/* fabi& ktda */
.mainpage-2 ul{margin-top:20px;}
.mainpage-2  ul li{  
    font-size: 16px;   
    line-height: 30px;
   
}


.mainpage-2 > article > a{
    position: absolute;
    color: #FF9E80;    
    right:0; top: 0;
    margin-left: 34vh;

}

/* 메인페이지 행사사진 */
.mainpage-3{
    /* background-color: #fbf2f2; */
    background-color: #ECEFF1;
    padding:60px 0;
    overflow:hidden;
    /* animation: cc 5s 1s none; */

}  
/* @keyframes cc{
    form{0}
    to{108}
} */
.mainpage-3title{
    /* color: #; */
    font-size: 35px;
    text-align: center;
    letter-spacing: 5px;
    padding: 20px 0 60px;
    
    
}

.mainpage-3 .slider img{
    width:90%; 
    margin: 2vh;    
    opacity: 90%;
    border-radius:10px;
    
}
/* .mainpage-3 span{display:flex;} */




/* 메인페이지 자료실 */
.mainpage-4{
    width:65%; margin:10% auto;
    animation: aaaa 4s .1s none;
    
}
@keyframes aaaa{
    0%{margin-top:0; opacity: 0;}

}

.mainpage-4 .mainpagetitle{
    text-align: center;
    /* margin-bottom:60px; */
    
}
.mainpage-4 > div{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.mainpage-4 article{
    position: relative;
    width: 50%;
    margin-left: 50px;
    
    
}
.mainpage-4 article h5{
    font-size: 20px;
    position:relative;
    border-bottom:1px solid #ddd;

}
.mainpage-4 article h5 > span{
    font-size: 13px;
    color: grey;
    position: absolute;
    top: 0;
    right: 0;
    
    
}
.mainpage-4 article > a{
    position: absolute;
    color:#FF9E80;
    width: 100%;
    padding: 5%;
    left: 90%;
    /* margin: 25vh 0 0 ; */
    

}


.mainpage-4 figure{
    position: relative;
    display:flex; 
    justify-content: space-between;
    padding-top:8%;
  
    
}
.mainpage-4 figure img{width:23%;}
.mainpage-4 figure figcaption{ 
    width:70%;
    justify-content: space-between;
    line-height: 30px;}
.mainpage-4 figure figcaption b{

     font-size: 18px;
     width: 40%;
     position: relative;
     padding: 22px;
}
.mainpage-4 figure figcaption p{ line-height: 30px;
    }




/* 메인페이지 하단 */
fieldset{background-color: #d6d6d67e;
/* border: 1px solid white; */
border: none;
}
.mainpagebottom-1{
     text-align: center;
     /* background-color: #212121; */
     padding: 10px;
     /* color:#999; */
     font-size: 12px;
    
}

.mainpagebottom-2{  
    text-align: center;
    /* background-color: #212121; */
    height: 1.5cm;
    padding: 10px;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 30px
    ;}

legend{
margin: 0 auto;
padding: 0 50px;

}
fieldset legend img{height: 35px;}

/* 학과소개 학과개요 */
/* board.html */





.firstpage{
    vertical-align: right;
   

    

    /* margin: 0 auto; */
    /* padding: 130px 0; */
   }

 

.firstpage h1{
    position:relative;
    display: block;
    color: #ffff;
    text-align: center;
    top: 30vh;  
    align-items: center;
    /* padding: 420px 800px; */
    font-size: 50px;
}

.firstpage img{ 
    width: 100%;
    display: flex;
    height: 500px;
}


.firstpageee h1{
    position:relative;
    display: block;
    color: #ffff;
    text-align: center;
    top: 30vh;  
    align-items: center;
    /* padding: 420px 800px; */
    font-size: 50px;
    opacity: 1;
    
}


.firstpageee img{ 
    width: 100%;
    display: flex;
    height: 500px;
    /* animation: dd 4s .1s none; */
}


/* 각페이지 서브메뉴 */
.menubox{
    /* display: flex; */
    /* position: relative; */

}
.menubox ul{
    display: flex;
    /* position: relative; */
    /* border: 1px solid rgb(196, 194, 194);  */
    background: rgb(241, 240, 240);
    
}
.menubox ul li{
    list-style: none;
    font-size: 18px;
    padding:0 60px;
    /* position: fixed; */
    position: relative;
    /* border: 1px solid #cea3a3; */
    background: rgb(241, 240, 240);
    
    
}
.menubox ul li a{
    color:#000;
    padding: 20px 0;
    display:flex;
    /* position: relative; */
    text-align: center;
    }

    
.menubox ul img{
    width: 25px;
}
.menubox ul li > div{
    position:absolute; 
    display: flex;
    left:0; bottom:0;
    width:100%; 
    transform: translateY(100%);
    line-height: 1px;
    display:none;
    padding:20px; 
}

.menubox ul li > div a{display:block; font-weight: normal; 
    /* color: lightslategrey; */
}
.menubox ul li> div a:hover{
    text-decoration: 20px underline;
    text-decoration-color: #daabcd34
    ;
    text-decoration-line: line-through; 
    color: rgb(100, 100, 100);
}
.menubox ul li:hover div{display:block;}


.firstpagee{
 padding: 0 10%;
 margin: 6% 10%;
 /* animation: dd 5s .1s none; */
   }

 /* border: 2px solid #cea3a3; */
.firstpagee h2{
    text-align: center;
    padding: 0 0 4% 5%;
    /* padding:70px 850px; */
    /* margin: 10% 60%% 10%; */
    /* padding: 10% 50% 5% 50%; */
    font-size:30px;
}

.firstpagee img{
    align-items: center;
    margin: 0 40% 0;
    /* margin: 0 780px; */
    /* padding-bottom: 40px; */
    width: 25%;
    animation: dd 1s .1s none;
    /* transition: 1s; */
}
@keyframes dd{
    0%{margin-top:10%; opacity: 0;}
}
 
    
.firstpagee b{
    border-bottom: 5px solid #eef7fc;
    font-size: 20px;
    animation: ee 3s .1s none;
}
.firstpagee p{

    font-size: 15px;
    margin: 0 auto;
    line-height: 50px;
    text-align: left;
    margin-bottom: 10%;
    padding:5% 10% 0;
    animation: ee 5s .1s none;
}
@keyframes ee{
    0%{margin-top:10%; opacity: 0;}
}
.firstpagee-1 h2{
    text-align: center;
    padding: 8% 0 3%;
    font-size:30px;
}
.firstpage-1{
    margin: 0 auto;
    width: 80%;
    padding-bottom:100px;
    /* border: 2px solid #cea3a3 */

}
.firstpage-1 ul{ 
    display: flex;
    flex-wrap:wrap;
    /* /* padding: 180px;
    margin: 0 auto; */
    width: 100%; height:100%; 
    margin:0px auto; 
    overflow:hidden; 
}


.firstpage-1 ul li{
    display: flex;
    align-items: center;

    width:50%;
    text-align: center;
    
    padding-top: 30px;
    padding-bottom: 20px;
    /* padding: 0 97px; */
    line-height: 35px;   
}

.firstpage-1 h1{
    position: relative;
    color: #ffff;
    text-align: center;
     top: 280px; 
    font-size:40px;
    
}

.firstpage-1 ul li > img{
    /* float: left; */
    width:20%;
    animation: ff 3s .1s none;
    
    
}

.firstpage-1 ul li > div{
    width:70%;
    padding: 10px 40px;
    text-align: left; 
    animation: ff 3s .1s none;
} 



.firstpage-1 ul li > span{
    text-align: center;
    animation: ff 3s .1s none;
}


.firstpage-1 ul li > p{
    position: relative;
    text-align: center;
    animation: ff 3s .1s none;
} 

@keyframes ff{
    0%{margin-top:100%; opacity: 0;}

    /* 회원행사 */
    /* index.html */
}
.secondpage{ 
        /* vertical-align: right;
        padding: 0 80px; */
        margin:  0 auto;
        width: 100%;
}

/* .menubox-1{ 
    margin: 0 auto;
    
    border: 1px solid #b2b2b2;
} */

.menubox-1 th a{
    /* border: 1px solid #b2b2b2; */
    /* margin: -2px;
    padding: 10px; */
    color: black;
    padding:30px;
    
}




.secondpage h1{
        position: absolute;
        color: #ffff;
        top: 440px;
        left: 920px;
        font-size: 50px;
        
    }

.secondpage img{
    width: 100%;
       
    }


.secondpage-1 {
    /* border: 2px solid #cea3a3; */
    /* margin: 90px ; */
    margin: 0 auto;
    padding: 0 35%;
    margin-bottom: 5%;
    

}


.secondpage-1 h2{
            position: relative;
            text-align: center;
            /* padding:5%; */
            padding-top: 20%;
            font-size:30px;
        }
        
/* .secondpage-2 {  */
            /* border: 2px solid #cea3a3;
            width: 100%;
            margin: 10% auto;
            padding: 600px;
             */
        /* }         */
.secondpage-2{ 
     /* border: 2px solid #cea3a3;  */
     /* width: 80%;  */
     /* padding: 6px; */
     /* border: 3px solid red; */
     /* padding: 20px 250px; */
    }         

.secondpage-2 img{
    /* justify-content: center; */
    display: flex;   
    width: 100%;
    height: 300px;
    padding: 7% 10%;
    /* padding: 30px 9000px; */

    }

.secondpage-2 dl{
    text-align: center;
}

.secondpage-2 dl > dt b{
    font-size: 25px;
    text-align: center;
    /* display: flex;
    flex-wrap: wrap; */
    /* padding: 30px 40%; */
    line-height: 65px;
   
    
} 

/* .secondpage-2 dl> dt{ */
    
    /* font-size: 20px; */
    /* display: flex; 
    flex-wrap: wrap; */
    

/* } */

.secondpage-2 dl> dd{
    /* text-align: center; */
    font-size: 16px;
    padding: 5% 0;
    display: flex;
    /* flex-wrap: wrap; */
}




.second-1page-1 h2{
    text-align: center;
    /* margin: 0 870px; */
    padding:70px 0px;
    font-size:30px;}
.second-1page-2{
    text-align: left;
    line-height: 50px;
    width: 80%;
    margin: 0 auto;
    padding: 80px 250px;
    border: 2px solid #cea3a3;
    /* border: 1px solid #555; */
    margin-bottom: 100px;    
    animation: gg 2s .1s none;
} 

@keyframes gg{
    0%{margin-top:10%; opacity: 0;}
 
}


.second-2page-1 h2{
    position: relative;
    text-align: center;
    font-size: 30px;
    /* margin: 50px 860px; */
    padding: 0 0;
}
.second-2page-2{
    text-align: center;
    padding-left: 800px;
    line-height: 50px;

    padding: 20px 900px 200px 900px;
}
.second-2page-2{
    
    text-align: left;
    line-height: 50px;
    width: 80%;
    margin: 0 auto;
    padding: 60px 250px;
    border: 2px solid #cea3a3;
    /* border: 1px solid #555; */
    margin-bottom: 100px;        
    animation: hh 1s .1s none;
} 

@keyframes hh{
    0%{margin-top:10%;}
 

}
.second-2page-4 h2{
    margin: 0 auto;
    text-align: center;
    padding: 60px 0;
    font-size: 30px;
}

.thirdpage{
    margin:  0 auto;
    width: 100%;
}
.thirdpage h1{    
    position: relative;
    color: #ffff;
    text-align: center;
    top: 280px; 
    font-size: 50px;

}

.thirdpage img{
    /* padding: 0 190px; */
    width: 100%;    
  
}
.thirdpage-1{
    position: relative;
    /* padding:100px 550px; */
    font-size:28px;}

.thirdpage-1 h2{
    position: relative;
    /* text-align: center; */
    font-size: 30px;
    margin: 50px 860px;
    padding: 0 0;
}
/* .popup{
    position:fixed;
    left:0; top:0;
    width:100%; height:100%;
    background:#90A4AE;
    opacity: 30%;

    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:#fff;
    display: none;
} */
/* .lastpage{ position: relative;} */
.lastpage h1{
    position: relative;
    justify-content: center;
    display: flex;
    color: #fff;
    text-align: center;
    top: 30vh;
    /* left: 930px;  */
    /* padding: 420px 800px; */
    font-size: 50px;}

.lastpage img{ 
    /* position:absolute; */
    width: 100%;
    display: flex;
    height: 500px;
}

.thirdpage {  
    width: 80%;
    margin:  0 auto;
    width: 100%;}

.thirdpage h2{
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 0 0;
}



.thirdpage-11 h2{ 
    font-size: 30px;
    text-align: center;
    padding: 90px 0 0 0;}




.thirdpage-10 h2{
    font-size: 30px;
    text-align: center;
    padding: 90px 0 0 0;
        
    }

.thirdpage-12 h2{
    font-size: 30px;
    text-align: center;
    padding: 90px 0 0 0;
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
    /* margin: 50px 820px; */
}

.third-1page-1{
    width:80%;
    margin: 5% 41%;
    position: relative;
    right: 30%;
    align-content: center;
    /* flex-wrap: wrap; */
    /* padding-bottom: 0; */
   
}
.third-1page-1 ul{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.third-1page-1 ul li{
    /* display: flex; */
    align-items: center;
    width:32%;
    text-align: center;
    /* margin: 0 5%; */
    padding-top: 30px;
    padding-bottom: 60px;
    
    /* padding: 0 97px; */
    /* line-height: 35px;    */

     
}
    /* position: relative;
    flex-wrap: wrap;
    text-align: center;
 */

 .third-1page-1 ul li > img{
    height: 80%; width: 58%;
    
    
 }
 .third-1page-1 ul li > img:hover{
     color: antiquewhite;
     opacity: 80%;
 }

.third-1page-1 ul li > h5{
    text-align: left;
    font-size: 12px;
    padding: 20px 0 0 10vh;
   
}

.board{
        width:60%; margin:100px auto}
.board caption{
        text-align: left;
        padding-bottom:10px;
        font-size: 24px;
    }
.board th,.board td{
        text-align:center;
        padding:10px;
        border:1px solid #000;
        border-width:1px 0 1px 0;
    }
.board thead th{background-color:#fbf2f2;}
.board tbody td:nth-child(2){text-align:left;}
    /* .board tbody tr:nth-child(even) td{background:#eee;} */

.board thead th:nth-child(1){width:60px;}
.board thead th:nth-child(3){width:120px;}
    
    
.table{
        border-collapse: collapse;
         margin:0 auto; 
    
    }
.pages{
    width: 100%;
    /* margin-top:1%; */
    text-align: center;
    margin-bottom: 4%;
    }
.top a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index:990;
}
